* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303030;
}

/* App */
.tools {
    width: 5vw;
    height: 100vh;
    background-color: #444444;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tools-container {
    width: 5vw;
    height: 100vh;
    margin: 5vh 0 5vh 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#clear {
    font-size: 2rem;
    color: #fff;
}

#clear:hover {
    color: #ff0000;
    cursor: pointer;
}

i {
    font-size: 1.5rem;
    color: #fff;
}

i:hover {
    color: #606060;
    cursor: pointer;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100vh;
    margin-left: 5vw;
    background-color: #303030;
}
.canvas-area {
    display: block;
    background-color: #fff;
    width: 70vw;
    height: 80vh; 
}
/* canvas {
     width: 70vw;
    height: 80vh; 
    background-color: #fff;
} */


/* EXTENDER */

.tool-extender {
    position: absolute;
    left: 5vw;
    top: 46vh;
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
}

.triangle {
    width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-right: 25px solid #555;
	border-bottom: 12.5px solid transparent;
   /*  position: absolute;
    left: 5vw;
    top: 49vh; */
}

.rectangle {
    width: 15vw;
    height: 10vh;
    background-color: #555;
    /* position: absolute;
    left: 6.8vw;
    top: 46vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.small {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.medium {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.big {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.huge {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}